@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&family=Inter:wght@400;500;600&family=IBM+Plex+Mono:wght@500&display=swap');
@import "tailwindcss";

@theme {
  --color-fondo: #0A0E1E;
  --color-tinta: #E7EAF6;
  --color-senal: #4C6FFF;
  --color-senal-hover: #6B87FF;
  --color-ambar: #B266FF;
  --color-superficie: #151B32;
  --color-exito: #22C55E;

  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-tinta);
  font-family: var(--font-body);
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}